body{
	text-align: center;
	margin: 0 auto;
	max-width: 800px;
	background-color: #f8f7e8;
}


h1, h2 {
	font-family: Montserrat; 
	color: black;
	padding:10px 10px 20px 10px;
}

#first {
	font-family: Montserrat;
	font-size: 1.5em;
}

nav {
	font-family: Raleway; 
	padding: 15px 40px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.main{
	padding: 50px 0;
}

nav a{
	padding: 0px 10px;
	color:black;
}
div h2 {
	text-align: left;
}

div p {
	font-family: Raleway; 
}

.main img {
	max-width: 800px;
}

a:hover{
	color: mediumturquoise;
	text-decoration: none;
}

.active-link, .active-link:hover{
	text-decoration: none;
	color: dimgrey;
;
}

footer p{
	padding:10px;
}

<<<<<<< HEAD
ul{
	list-style: none;
	padding-left: 0px;
	padding: 0px;
}

.social {
	display: inline-block;
	padding: 5px 2px 0px 2px;
	margin: 0px;
=======
.social{
	list-style: none;
	display: inline-block;
	padding: 20px 2px 5px 2px;
}

ul{
	padding-left: 0px;
>>>>>>> 16e4d5d7caf6894e575a337db241792476a99412
}